a {
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
hr {
  color: rgb(0, 0, 0);
  height: 3px;
  background-color: black;
}
p {
  font-family: "Itim", cursive;
}

body {
  background-color: darkgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  width: 33%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#bck {
  background-color: black;
  size: 5px;
}
